html, body {
    font-size: 16px;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bio {
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60vw;
    margin: 50px;
    position: relative;
    top: 10vh;
}
.list {
    background: steelblue;
    text-align: center;
}
ol {
    list-style-image: url("files/favicon-16x16.png");
    background: steelblue;
    padding: 20px;
    font-family: Bahnschrift, serif;
    overflow: auto;
}
ol li {
    background: lightsteelblue;
    margin: 20px;
    cursor: grab;
    z-index: 1;
}
ol li:active {
    cursor: grabbing;
}
h1 {
    color: #282625;
    font-family: 'Vollkorn SC', serif;
    margin: 50px;
    border-color: #bf7a4c;
    border-style: solid;
    background-color: #bf7a4c;
    text-align: left;
}
.img-container {
    position: relative;
    top: 10vh;
    width: 30%;
}
.image {
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #535b5b;
}
.img-container:hover .overlay {
    opacity: 1;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
p {
    margin: 40px;
}
#music-bar {
    width: 100vw;
    // background: green;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#music-bar-container {
    //background: blue;
    background: darksalmon;
    padding: 1vh;
    color: white;
    width: 50vw;
    margin-left: -20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: grab;
    font-family: Monospace, serif;
    z-index: 1;
}
#music-bar-container:active {
    cursor: grabbing;
}
#player-options {
    //background: fuchsia;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#player-options span {
    cursor: pointer;
    background: grey;
    width: 15%;
    text-align: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#player-options span i {
    padding: 0.1em;
}
#player-options span:active {
     box-shadow: inset #282625 1px 1px 3px;
}
#playing-status {
    width: 70%;
    //background: darksalmon;
    padding-top: 0.3vh;
    padding-left: 2vh;
}
@media (orientation:portrait) {
    header div {
        font-size: 2em;
        position: relative;
    }
    #bio {
        flex-direction: column;
        width: 60vw;
        font-size: 2em;
    }
    #music-bar-container {
        width: 100vw;
        font-size: 2vh;
    }
}
@media(max-width: 900px) {
    #bio {
        flex-direction: column;
    }
}