html, body {
    font-size: 16px;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bio {
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
}
h1 {
    color: #282625;
    font-family: 'Vollkorn SC', serif;
    margin: 50px;
    border-color: #bf7a4c;
    border-style: solid;
    background-color: #bf7a4c;
    text-align: left;
}
img{
    margin-top: 50px;
    width: 30vw;
}
p {
    margin: 40px;
}
#welcome-message {
    background-color: cadetblue;
    color: white;
    height: 200px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 5fr;
}
#welcome-message button {
    grid-column-start: 5;
    grid-column-end: 6;
    justify-self: right;
    cursor: pointer;
}
#welcome-message div {
    grid-column: 1/6;
    place-self: center;
    font-size: 2em;
}
@media (orientation:portrait) {
    header div {
        font-size: 2em;
        position: relative;
    }
    #bio {
        flex-direction: column;
        width: 60vw;
        font-size: 2em;
    }
}
@media(max-width: 900px) {
    #bio {
        flex-direction: column;
    }
}