html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #A5B5B5;
    padding: 0.25vh;
}
header div {
    padding: 1.25vh;
    font-size: 16px;
    padding-right: 0;
    padding-left: 0;
    font-family: Cambria, serif;
    margin: 0;
}
header div a {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1.25vh;
    text-decoration: none;
    color: black;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
header div:hover {
    background-color: aquamarine;
    cursor: pointer;
}
@media (orientation:portrait) {
    header div {
        font-size: 2em;
        position: relative;
    }
}