main {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#note-index-list {
    height: 100%;
    width: 100%;
    margin: 0;
}
#note-index-list li {
    list-style: none;
    position: relative;
    right: 5px;
    padding: 3vh;
    width: 46.1vw;
    margin-left: -2.3vw;
    text-align: center;
    color: white;
    font-size: 2em;
}
#note-index-list li:hover {
    //text-decoration: underline;
    cursor: pointer;
    //text-transform: uppercase;
    border-left: 10px yellow solid;
}
#note-index-list li:nth-child(1n) {
    background: #ccc595;
}
#note-index-list li:nth-child(2n) {
    background: teal;
}
#note-index-list li:nth-child(3n) {
    background: firebrick;
}
#note-index-list li:nth-child(4n) {
    background: coral;
}
#note-index-list li:nth-child(5n) {
    background: indianred;
}
@media(orientation:portrait) {
    header div {
        font-size: 2em;

    }
    #note-index {
        width: 80vw;
        height: 98.5vh;
        position: relative;
        right: 2vw;
        top: 30%;
    }
    #note-index-list {
        position: relative;
        right: 2vw;
    }
    #note-index-list li {
        font-size: 3em;
        position: relative;
        right: 2vw;
        width: 100%;
    }

}